.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.item-center{
    align-items: center;
}
.container{
    color: white;
}
.right{
    margin: 10px;
}
.rounded{
    border-radius: 15px;
}
.bg_grey{
    background-color:#121212;
}
.bg_darkgrey{
    background-color: #1f1f1f;
}
#playlistbtn{
    padding: 0.5vw;
    border: none;
    border-radius: 12px;
    font-weight: 700;
}
.padding{
    padding: 8px;
}
.margin{
    margin: 15px;
}